<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&family=Roboto+Slab:wght@100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/stylesheets/styles.css">
    <title>Clutter Clash Home</title>
</head>
<body>
    <main>
        <div id="primarylogo">
            <img src="/images/Clutter Clash_primary_240.png" alt="Clutter Clash">
        </div>
        <nav>
            <section id="play">
                <h2>Play</h2>
                <form action="" value="play">
                    <input type="text" name="username" id="username" placeholder="Enter Username">
                    <input type="submit" id="startjoin" value="Start/Join">
                </form>
            </section><!--
         --><section id="watch">
                <h2>Watch</h2>
                <form action="" value="watch">
                    <input type="submit" id="livematch" value="Live Match">
                    <input type="submit" id="previousmatches" value="Previous Matches">
                </form> 
            </section>
        </nav>
    </main>
    
</body>
</html>