<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&family=Roboto+Slab:wght@100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/stylesheets/styles.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.1.2/socket.io.js"></script>
    <title>Live Match</title>
</head>
<body>
    <main>
        <section id="scoreboard">
            <p id="timer"> 0:00</p>

        </section>
        <section id="arena"><!--
         -->
            <!-- <img src="/images/partitions.png" alt="floor">
            <img src="/images/cabinet.png" alt="cabinet" class="storage">
            <img src="/images/night-stand.png" alt="cabinet" class="storage">
            <img src="/images/bed.png" alt="cabinet" class="storage">
            <img src="/images/desk.png" alt="cabinet" class="storage">
            <img src="/images/table.png" alt="cabinet" class="storage"> -->
            <img src="/images/full.png" alt="">
            <img src="/images/clutter.png" alt="clutter" class="clutter" id = "clutter1">
            <img src="/images/clutter.png" alt="clutter" class="clutter" id = "clutter2">
            <img src="/images/clutter.png" alt="clutter" class="clutter" id = "clutter3">
            <img src="/images/clutter.png" alt="clutter" class="clutter" id = "clutter4">
            <img src="/images/clutter.png" alt="clutter" class="clutter" id = "clutter5">
            <img src="/images/clutter.png" alt="clutter" class="clutter" id = "clutter6">
            <img src="/images/clutter.png" alt="clutter" class="clutter" id = "clutter7">
            <img src="/images/clutter.png" alt="clutter" class="clutter" id = "clutter8">
            <img src="/images/clutter.png" alt="clutter" class="clutter" id = "clutter9">
            <img src="/images/clutter.png" alt="clutter" class="clutter" id = "clutter10">
            <img src="/images/clutter.png" alt="clutter" class="clutter" id = "clutter11">
            <img src="/images/clutter.png" alt="clutter" class="clutter" id = "clutter12">
            <img src="/images/clutter.png" alt="clutter" class="clutter" id = "clutter13">
            <img src="/images/clutter.png" alt="clutter" class="clutter" id = "clutter14">
            <img src="/images/clutter.png" alt="clutter" class="clutter" id = "clutter15">
            <img src="/images/clutter.png" alt="clutter" class="clutter" id = "clutter16">
            <img src="/images/clutter.png" alt="clutter" class="clutter" id = "clutter17">
            <img src="/images/clutter.png" alt="clutter" class="clutter" id = "clutter18">
            <img src="/images/clutter.png" alt="clutter" class="clutter" id = "clutter19">
            <img src="/images/clutter.png" alt="clutter" class="clutter" id = "clutter20"><!--
     --></section>
    </main>
    <script src="/scripts/live_match.js"></script>
</body>
</html>