<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&family=Roboto+Slab:wght@100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/stylesheets/styles.css">
    <title>Waiting Room</title>
</head>
<body>
    <main>
        <header id="primarylogo">
            <img src="/images/Clutter Clash_primary_240.png" alt="Clutter Clash">
        </header>
        <section id="status">
            <p>When ready, click start under your username and wait for the other player to click start.</p>
        </section>
        <nav>
            <section id="cleanercard">
                <% if (matchDetails.cleanerName) { %>
                    <p class="playername"><%= matchDetails.cleanerName %></p>
                <% } else { %>
                    <p class="playername">Waiting...</p>
                <% } %>
                <p class="playerrole">Cleaner</p>
                <input type="submit" name="start" value="Start" id="startCleaner">
            </section><!--
         --><section id="distractorcard">
                <% if (matchDetails.distractorName) { %>
                    <p class="playername"><%= matchDetails.distractorName %></p>
                <% } else { %>
                    <p class="playername">Waiting...</p>
                <% } %>
                <p class="playerrole">Distractor</p>
                <input type="submit" name="start" value="Start" id="startDistractor">
            </section>
        </nav>
    </main>
    <script>
        document.getElementById("startCleaner").addEventListener("click", function() {
            socket.emit("cleanerReady");
        });
        document.getElementById("startDistractor").addEventListener("click", function() {
            socket.emit("distractorReady");
        });
        
        socket.on("redirect", function(destination) {
            console.log("here").
            window.location.href = destination;
        });
    </script>
    
</body>
</html>