<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&family=Roboto+Slab:wght@100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/stylesheets/styles.css">
    <title>Clutter Clash Home</title>
</head>
<body>
    <main>
        <div id="primarylogo">
            <img src="/images/Clutter Clash_primary_240.png" alt="Clutter Clash">
        </div>
        <section id="status">
            <p>Match will start in 8 seconds</p>
        </section>
        <nav>
            <section id="cleanercard">
                <p class="playername">Cleaner Name</p>
                <p class="playerrole">Cleaner</p>
                <form action="">
                    <input type="submit" name="start" value="Start" id="startcleaner">
                </form>
            </section><!--
         --><section id="distractorcard">
                <p class="playername">Distractor Name</p>
                <p class="playerrole">Distractor</p>
                <form action="">
                    <input type="submit" name="start" value="Start" id="startdistractor">
                </form>
            </section>
        </nav>
    </main>
    
</body>
</html>