* {
    box-sizing: border-box;
}

main {
    width: 1280px;
    margin: auto;
}

#primarylogo {
    padding-top: 100px;
    padding-bottom: 50px;
    width: 240px;
    margin: auto;
}

#play, #watch, #cleanercard, #distractorcard {
    color: white;
    width: 320px;
    padding: 20px;
    display: inline-block;
    border-radius: 10px;
    margin: 0px 10px;
    vertical-align: top;
    text-align: center;
}
    #play {
        color: black;
        border: 2px #2a2a2a solid;
    }

    #watch {
        background-color: #2a2a2a;
    }

    #cleanercard {
        background-color: #004aad;
    }

    #distractorcard {
        background-color: #ff3131;
    }

input {
    display: block;
    width: 100%;
    height: 2.5em;
    margin-bottom: 10px;
    font-size: medium;
    text-align: center;
    border-radius: 10px;
    font-family: 'Roboto', sans-serif;
}

nav {
    width: 680px;
    margin: auto;
}

h2 {
    font-family: 'Roboto Slab', serif;
}

.playername {
    font-family: 'Roboto Slab', serif;
    font-size: x-large;
    font-weight: 700;
    margin-bottom: 5px;
}

.playerrole {
    font-family: 'Roboto', sans-serif;
    font-size: medium;
    font-weight: 100;
    margin-top: 5px;
}

#startjoin, #livematch, #previousmatches, #startcleaner, #startdistractor{
    border: none;
    border-radius: 10px;
    font-family: 'Roboto', sans-serif;
}
    #startjoin {
        color: white;
        background-color: #2a2a2a;
    }

    #livematch, #previousmatches {
        color: #2a2a2a;
        background-color: white;
    }

#status {
    font-family: 'Roboto', sans-serif;
    font-size: medium;
    text-align: center;
    margin-bottom: 40px;
}